<div class="">
    <h1>生活资料</h1>
    <table border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td class="st2_title">越南食糖产量将超150万吨 供过于求60万吨</td>
        </tr>
        <tr>
            <td align="left" valign="middle" class="st2_w text-right">2014-02-08　来源: 渤海商品交易所</td>
        </tr>
        <tr>
            <td class="st2_w"><div>2014年越南国内糖价预计将下跌，因云南全国精炼糖产量将达到150-160万吨。</div>
                <div>经济时报称，走私至越南的精炼糖大约相当于该国年产量的1／3，损及当地制糖企业生产商的利益。预估越南2013／14年度食糖过剩量将达60万吨。</div></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        </tbody></table>
</div>