<form action="/edit/update/<%-user._id %>" method="POST">
    New Login: <input type="text" id="login" name="login" value="<%-user.login %>" /><br>
    New Password: <input type="text" id="password" name="password" value="<%-user.password %>" /><br>
    <input type="submit" value="Update" />&nbsp;&nbsp;
    <input type="button" value="Back" onclick="window.location='/list'" />
</form>