<div>
    <ul>
        <% for(var key in users){ %>
        <li>
            <%-users[key].login %>&nbsp;&nbsp;
            <a href="/list/remove/<%-users[key]._id %>">remove</a>&nbsp;&nbsp;
            <a href="/edit/<%-users[key]._id %>">edit</a>&nbsp;&nbsp;
        </li>
        <% } %>
    </ul>
</div>
<a href="/list/logout">Logout</a>
