<!--<div>
    Test create Form&nbsp;&nbsp;
    <form action="/model/user" method="POST">
        <input type="text" id="login" name="login" placeholder="Register Login" /><br>
        <input type="password" id="password" name="password" placeholder="Register Password" /><br>
        <input type="submit" value="Create" />
    </form>
</div>
<hr>
<div>
    Test update Form&nbsp;&nbsp;
    <form action="/model/user/5338129e31b9cb28fe75733e" method="POST">
        <input type="text" id="login" name="login" placeholder="Register Login" /><br>
        <input type="password" id="password" name="password" placeholder="Register Password" /><br>
        <input type="submit" value="Update" />
        <input type="hidden" name="_method" value="PUT"/>
    </form>
</div>
<hr>
<div>
    Test update Form&nbsp;&nbsp;
    <form action="/model/user/5338129e31b9cb28fe75733e" method="POST">
        <input type="submit" value="Delete" />
        <input type="hidden" name="_method" value="DELETE"/>
    </form>
</div>
<hr>-->
<div>
    Register Form&nbsp;&nbsp;<%-((register_messages.length==0)?"<br><br>":"") %>
    <div>
        <%

        for(var key in register_messages){

        %>
        <br><b><%-register_messages[key] %></b>
        <%

        }
        %>
    </div>
    <form action="/login/register" method="POST">
        <input type="text" id="register_login" name="register_login" placeholder="Register Login" /><br>
        <input type="password" id="register_password" name="register_password" placeholder="Register Password" /><br>
        <input type="password" id="repeat_password" name="repeat_password" placeholder="Repeat Password" /><br>
        <input type="submit" value="Register" />
    </form>
</div>
<hr>
<div>
    Login Form&nbsp;&nbsp;<%-((login_messages.length==0)?"<br><br>":"")%>
    <div>
        <%

        for(var key in login_messages){

        %>
        <br><b><%-login_messages[key] %></b>
        <%

        }
        %>
    </div>
    <form action="/login/auth" method="POST">
        <input type="text" id="login" name="login" placeholder="Login" /><br>
        <input type="text" id="password" name="password" placeholder="Password" /><br>
        <input type="submit" value="Login" />
    </form>
</div>