<div class="">
    <h1>生活资料</h1>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td valign="top">
                <form method="post" action="" name="nfrm">

                    <table border="0" align="center" cellpadding="0" cellspacing="0" class="table table-striped  table-condensed table-hover">

                        <tbody><tr>
                            <td class="st1_left"><a href="/web/news/news_detail.jsp?parentid=138&amp;classid=142&amp;infoid=69239" target="_blank" title="越南食糖产量将超150万吨 供过于求60万吨" class="dh_w">越南食糖产量将超150万吨 供过于求60万吨</a></td>
                            <td align="center">14-02-08</td>
                        </tr>

                        <tr>
                            <td class="st1_left"><a href="/web/news/news_detail.jsp?parentid=138&amp;classid=142&amp;infoid=69237" target="_blank" title="农产品目标价格补贴机制2014年拟建立" class="dh_w">农产品目标价格补贴机制2014年拟建立</a></td>
                            <td align="center">14-02-08</td>
                        </tr>

                        <tr>
                            <td class="st1_left"><a href="/web/news/news_detail.jsp?parentid=138&amp;classid=142&amp;infoid=69238" target="_blank" title="海南省2014年甘蔗种植面积下降11.11%" class="dh_w">海南省2014年甘蔗种植面积下降11.11%</a></td>
                            <td align="center">14-02-07</td>
                        </tr>

                        <tr>
                            <td class="st1_left"><a href="/web/news/news_detail.jsp?parentid=138&amp;classid=142&amp;infoid=69059" target="_blank" title="廉价茅台 拉菲弄晕消费者 廉价名牌酒大多是子公司产品贵州茅台称类似广告是“打擦边球”" class="dh_w">廉价茅台 拉菲弄晕消费者 廉价名牌酒大多是子公司产品...</a></td>
                            <td align="center">14-02-05</td>
                        </tr>

                        <tr>
                            <td class="st1_left"><a href="/web/news/news_detail.jsp?parentid=138&amp;classid=142&amp;infoid=69240" target="_blank" title="供给充足 油脂节后行情仍不乐观" class="dh_w">供给充足 油脂节后行情仍不乐观</a></td>
                            <td align="center">14-01-24</td>
                        </tr>

                        <tr>
                            <td class="st1_left"><a href="/web/news/news_detail.jsp?parentid=138&amp;classid=142&amp;infoid=64659" target="_blank" title="2013-14棉季全球棉花产量下降" class="dh_w">2013-14棉季全球棉花产量下降</a></td>
                            <td align="center">13-10-12</td>
                        </tr>

                        <tr>
                            <td class="st1_left"><a href="/web/news/news_detail.jsp?parentid=138&amp;classid=142&amp;infoid=62421" target="_blank" title="中国需求推高橡胶贸易量 需求持坚" class="dh_w">中国需求推高橡胶贸易量 需求持坚</a></td>
                            <td align="center">13-08-16</td>
                        </tr>

                        <tr>
                            <td class="st1_left"><a href="/web/news/news_detail.jsp?parentid=138&amp;classid=142&amp;infoid=61299" target="_blank" title="中国买家询价增加 青岛保税仓库橡胶库存下滑" class="dh_w">中国买家询价增加 青岛保税仓库橡胶库存下滑</a></td>
                            <td align="center">13-07-17</td>
                        </tr>

                        <tr>
                            <td class="st1_left"><a href="/web/news/news_detail.jsp?parentid=138&amp;classid=142&amp;infoid=61295" target="_blank" title="河北持续性降雨 玉米旧作质量、新作生长引担忧" class="dh_w">河北持续性降雨 玉米旧作质量、新作生长引担忧</a></td>
                            <td align="center">13-07-16</td>
                        </tr>

                        <tr>
                            <td class="st1_left"><a href="/web/news/news_detail.jsp?parentid=138&amp;classid=142&amp;infoid=61297" target="_blank" title="华北玉米市场能否再迎新一轮大涨行情？" class="dh_w">华北玉米市场能否再迎新一轮大涨行情？</a></td>
                            <td align="center">13-07-12</td>
                        </tr>

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">


                                <table width="100%" border="0" cellpadding="0" cellspacing="0" id="PageCtrl_Table" style="font-size:9pt;">
                                    <tbody><tr><td align="right">
                                            <a href="#" class="dh_up">上一页</a>&nbsp;&nbsp;第1/122页&nbsp;&nbsp;<a href="#" onclick="return back('/web/news/news.jsp?parentid=138&amp;classid=142','2')" class="dh_up">下一页</a>

                                            &nbsp;&nbsp;前往第<input id="toPage" type="text" class="page_input" size="3">页
                                            <input type="button" class="btn btn-mini btn-primary" value="确定" onclick="javascript:go()"></td>
                                    </tr></tbody></table>
                                <script language="JavaScript">
                                    <!--
                                    function gotoPage(toPage){
                                        if(toPage == 1){
                                            alert("无页可翻！");
                                            return;
                                        }

                                        document.forms[0].action="/web/news/news.jsp?parentid=138&classid=142"+"&pageIndex="+toPage;
                                        document.forms[0].submit();

                                    }

                                    PageCtrl_Table.tBodies[0].onkeydown = pageCtrlKeyDown;

                                    function pageCtrlKeyDown ()
                                    {
                                        if ( event.keyCode == 13 )		// 回车键
                                        {
                                            //var tagEvent = event.srcElement;
                                            //	var pn = tagEvent.value;
                                            var r = /^[0-9]*[1-9][0-9]*$/　　//正整数
                                            var pn=document.getElementById('toPage').value;
                                            if(isNaN(pn) || pn < 1 || pn > 122||(!r.test(pn)))
                                                alert("请输入 1 -- " + 122 + " 之间的数字！");
                                            else
                                                gotoPage(pn);
                                        }
                                    }
                                    function go()
                                    {
                                        var r = /^[0-9]*[1-9][0-9]*$/　　//正整数
                                        var pn = document.getElementById('toPage').value;
                                        if(isNaN(pn) || pn < 1 || pn > 122||(!r.test(pn)))
                                            alert("请输入 1 -- " + 122 + " 之间的页数！");
                                        else
                                            gotoPage(pn);

                                    }
                                    function foward(pageurl,index)
                                    {
                                        document.forms[0].action=pageurl+"&pageIndex="+index;
                                        document.forms[0].submit();
                                    }

                                    function back(pageurl,index)
                                    {
                                        document.forms[0].action=pageurl+"&pageIndex="+index;
                                        document.forms[0].submit();
                                    }

                                    function begin(pageurl)
                                    {
                                        document.forms[0].action=pageurl+"&pageIndex=1";
                                        document.forms[0].submit();
                                    }

                                    function end(pageurl,index)
                                    {
                                        document.forms[0].action=pageurl+"&pageIndex="+index;
                                        document.forms[0].submit();
                                    }
                                    //-->
                                </script></td>
                        </tr>
                        </tbody></table>
                </form>
            </td>
        </tr>
        </tbody></table>
</div>