<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../widgets_/web-head.ejs %>
</head>

<body>
<div class="container">
    <div class="row clearfix"></div>
    <div class="row clearfix">
        <% include ../widgets_/web-main-menu.ejs %>
        <div class="col-md-12 column">
            <%-body_ %>
        </div>
    </div>
</div>
<% include ../widgets_/web-bottom-menu.ejs %>
<script data-main="/javascripts/cms/main" src="/libraries/requirejs/require.js"></script>
</body>
</html>
