<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../widgets_/web-head.ejs %>
</head>

<body>
<div class="container">
    <% include ../widgets_/web-main-menu.ejs %>
    <div class="row clearfix">
        <div class="col-md-3 column">
            <div class="panel-group" id="panel-489719">
                <div class="panel panel-default">
                    <div class="panel-heading"> <a class="panel-title" data-toggle="collapse" data-parent="#panel-489719" href="#panel-element-267702">交易产品</a> </div>
                    <div id="panel-element-267702" class="panel-collapse in">
                        <div class="panel-body">
                            <script>
                                $(function() {
                                    $( "#menu" ).menu();
                                });
                            </script>
                            <ul id="menu" class="navbar-collapse">
                                <li class="ui-state-disabled"><a href="#">农产品</a></li>
                                <li><a href="#">酒类</a></li>
                                <li><a href="#">纺织品</a></li>
                                <li> <a href="#">钢材</a>
                                    <ul>
                                        <li class="ui-state-disabled"><a href="#">螺纹钢</a></li>
                                        <li><a href="#">卷材</a></li>
                                        <li><a href="#">板材</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">棉织品</a></li>
                                <li> <a href="#">苹果</a>
                                    <ul>
                                        <li> <a href="#">生活用品</a>
                                            <ul>
                                                <li><a href="#">糖类</a></li>
                                                <li><a href="#">玉米</a></li>
                                                <li><a href="#">鸭绒</a></li>
                                            </ul>
                                        </li>
                                        <li> <a href="#">橡胶</a>
                                            <ul>
                                                <li><a href="#">香蕉</a></li>
                                                <li><a href="#">大米</a></li>
                                                <li><a href="#">大蒜</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">大葱</a></li>
                                    </ul>
                                </li>
                                <li class="ui-state-disabled"><a href="#">辣椒</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"> <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-489719" href="#panel-element-439605">竞买产品</a> </div>
                    <div id="panel-element-439605" class="panel-collapse collapse">
                        <div class="panel-body">
                            <script>
                                $(function() {
                                    $( "#menu" ).menu();
                                });
                            </script>
                            <ul id="menu">
                                <li class="ui-state-disabled"><a href="#">农产品</a></li>
                                <li><a href="#">酒类</a></li>
                                <li><a href="#">纺织品</a></li>
                                <li> <a href="#">钢材</a>
                                    <ul>
                                        <li class="ui-state-disabled"><a href="#">螺纹钢</a></li>
                                        <li><a href="#">卷材</a></li>
                                        <li><a href="#">板材</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">棉织品</a></li>
                                <li> <a href="#">苹果</a>
                                    <ul>
                                        <li> <a href="#">生活用品</a>
                                            <ul>
                                                <li><a href="#">糖类</a></li>
                                                <li><a href="#">玉米</a></li>
                                                <li><a href="#">鸭绒</a></li>
                                            </ul>
                                        </li>
                                        <li> <a href="#">橡胶</a>
                                            <ul>
                                                <li><a href="#">香蕉</a></li>
                                                <li><a href="#">大米</a></li>
                                                <li><a href="#">大蒜</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">大葱</a></li>
                                    </ul>
                                </li>
                                <li class="ui-state-disabled"><a href="#">辣椒</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <button type="button" class="btn btn-default btn-block active">实时数据</button>
            <br/>
            <button type="button" class="btn btn-default btn-block active">竞买信息</button>
            <br/>
            <button type="button" class="btn btn-default btn-block active">交收信息</button>
            <br/>
            <button type="button" class="btn btn-default btn-block active">存货凭证报</button>
            <br/>
            <button type="button" class="btn btn-default btn-block active">竞买交易</button>
            <br/>
            <button type="button" class="btn btn-default btn-block active">交易软件下载</button>
        </div>
        <div class="col-md-6 column">
            <%-body_ %>
        </div>
        <div class="col-md-3 column">
            <div class="panel-group" id="panel-489720">
                <div class="panel panel-default">
                    <div class="panel-heading"> <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-489720" href="#panel-element-567702">会员登录</a> </div>
                    <div id="panel-element-567702" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel-body">
                                <form role="form" class="form-inline">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">会员账号</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">用户密码</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="form-group"> </div>
                                    <br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                            记住用户名</label>
                                    </div>
                                    &nbsp&nbsp&nbsp
                                    <button type="submit" class="btn btn-default">登入</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> 最新开户 </h3>
                </div>
                <div class="panel-body"> 张女士 132033xxxx
                    <div> 李先生 139111xxxx </div>
                    <div> 王大哥 186333xxxx </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-default btn-block active">个人开户</button>
                    <button type="button" class="btn btn-default btn-block active">公司开户</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> 渤商公告 </h3>
                </div>
                <div class="panel-body"> 2014/1/18 钢材
                    <div> . </div>
                    <div> . </div>
                    <div> . </div>
                </div>
                <div class="panel-footer"> 点击了解更多 </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> 库存信息 </h3>
                </div>
                <div class="panel-body"> 2014/1/18 钢材
                    <div> . </div>
                    <div> . </div>
                    <div> . </div>
                </div>
                <div class="panel-footer"> 更多详情 </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="hdshow row">
                <div class="span3 ">
                    <blockquote class="pull-right">
                        <p> 关注渤海商品交易所 </p>
                        <p> 热门交易产品推荐 </p>
                        <small>成为一峰会员</small><small>获得更多免费增值服务</small> </blockquote>
                </div>
                <div class="span3 "> <a href=" " target="_blank" onclick="_gaq.push([&#39;_trackEvent&#39;,&#39;首页&#39;, &#39;A2_0&#39;,&#39;http://www.xiaomi.com/event/choose/phone/mi2s&#39;]);_msq.push([&#39;trackEvent&#39;,&#39;CN-WW-HP-AD-B0&#39;, &#39;http://www.xiaomi.com/event/choose/phone/mi2s&#39;, &#39;0&#39;])"> <img src="/images/mall1.png" class="media-object" alt=""> </a> </div>
                <div class="span3 "> <a href=" " target="_blank" onclick="_gaq.push([&#39;_trackEvent&#39;,&#39;首页&#39;, &#39;A2_1&#39;,&#39;http://www.xiaomi.com/huosai&#39;]);_msq.push([&#39;trackEvent&#39;,&#39;CN-WW-HP-AD-B1&#39;, &#39;http://www.xiaomi.com/huosai&#39;, &#39;1&#39;])"> <img src="/images/mall2.png" class="media-object" alt=""> </a> </div>
                <div class="span3 "> <a href=" " target="_blank" onclick="_gaq.push([&#39;_trackEvent&#39;,&#39;首页&#39;, &#39;A2_2&#39;,&#39;http://www.xiaomi.com/search_%E5%B0%8F%E7%B1%B3%20%E5%8D%AB%E8%A1%A3&#39;]);_msq.push([&#39;trackEvent&#39;,&#39;CN-WW-HP-AD-B2&#39;, &#39;http://www.xiaomi.com/search_%E5%B0%8F%E7%B1%B3%20%E5%8D%AB%E8%A1%A3&#39;, &#39;2&#39;])"> <img src="/images/mall3.png" class="media-object" alt=""> </a> </div>
            </div>
        </div>
    </div>
</div>
<% include ../widgets_/web-bottom-menu.ejs %>
<script data-main="/javascripts/cms/main" src="/libraries/requirejs/require.js"></script>
</body>
</html>
