<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="footer container">
            <div class="footerup">
                <div class="footercont">
                    <ul class="nums clearfix">
                        <li class="first"> <a href=" " target="_blank"> <span>1</span> <strong>
                                    <label>峰</label>
                                    投资平台 </strong> </a> </li>
                        <li class="line">|</li>
                        <li class="second"> <a href=" " target="_blank"> <span>15</span> <strong>
                                    <label>％</label>
                                    保障收益 </strong> </a> </li>
                        <li class="line">|</li>
                        <li class="third"> <a href=" " target="_blank"> <span>100</span> <strong>
                                    <label>次内</label>
                                    免手续费 </strong> </a> </li>
                        <li class="line"></li>
                        <li class="fourth"> <a href=" " target="_blank"> <span>56</span> <strong>
                                    <label>家</label>
                                    合作代理商 </strong> </a> </li>
                    </ul>
                    <div class="service clearfix">
                        <dl>
                            <dt>帮助中心</dt>
                            <dd><a href=" " target="_blank">开户指南</a></dd>
                            <dd><a href=" " target="_blank">支付方式</a></dd>
                            <dd><a href=" " target="_blank">软件下载</a></dd>
                        </dl>
                        <dl>
                            <dt>服务支持</dt>
                            <dd><a href=" " target="_blank">VIP通道</a></dd>
                            <dd><a href=" " target="_blank">自助服务</a></dd>
                            <dd><a href=" " target="_blank">相关下载</a></dd>
                        </dl>
                        <dl>
                            <dt>信息中心</dt>
                            <dd><a href=" " target="_blank">交易进行时</a></dd>
                            <dd><a href=" " target="_blank">市场动态</a></dd>
                            <dd><a href=" " target="_blank">在线视频</a></dd>
                        </dl>
                        <dl>
                            <dt>关于一峰</dt>
                            <dd><a href=" ">了解一峰</a></dd>
                            <dd><a href=" " target="_blank">资质荣誉</a></dd>
                            <dd><a href=" " target="_blank">联系我们</a></dd>
                        </dl>
                        <dl>
                            <dt>关注一峰</dt>
                            <dd class="sina"> <span class="icon-common icon-common-sina"></span> <a href=" " target="_blank"> 新浪微博 </a> </dd>
                            <dd class="kongjian"> <span class="icon-common icon-common-kongjian"></span> <a href=" " target="_blank"> QQ空间 </a> </dd>
                            <dd id="txweixin" class="facebook"> <span class="icon-common icon-common-weixin"></span> <a> 官方微信 </a> </dd>
                        </dl>
                        <div class="online">
                            <ul>
                                <li class="item1"> <span class="icon-common icon-common-tel"></span>400-811-1111 </li>
                                <li class="item2"> 仅收市话费，周一至周日8:00-18:00 </li>
                                <li class="item3 clearfix"> <a class="btn btn-green" href=" " target="_blank"><span class="icon-common icon-common-face"></span>24小时在线客服</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="breadcrumb">
                        <li> <a href="#">友情链接：</a> <span class="divider">/</span> </li>
                        <li> <a href="#">渤海商品交易所</a> <span class="divider">/</span> </li>
                        <li class="active"> ................................................................................ </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>