<div class="carousel slide" id="carousel-911586">
    <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#carousel-911586"> </li>
        <li data-slide-to="1" data-target="#carousel-911586"> </li>
        <li data-slide-to="2" data-target="#carousel-911586" class="active"> </li>
    </ol>
    <div class="carousel-inner">
        <div class="item"> <img alt="" src="http://lorempixel.com/1600/500/sports/1">
            <div class="carousel-caption">
                <h4> First Thumbnail label </h4>
                <p> Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
            </div>
        </div>
        <div class="item"> <img alt="" src="http://lorempixel.com/1600/500/sports/2">
            <div class="carousel-caption">
                <h4> Second Thumbnail label </h4>
                <p> Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
            </div>
        </div>
        <div class="item active"> <img alt="" src="http://lorempixel.com/1600/500/sports/3">
            <div class="carousel-caption">
                <h4> Third Thumbnail label </h4>
                <p> Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-911586" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-911586" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
<br>
<button type="button" class="btn btn-default btn-block active">最新理财产品一览</button>
<table class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th> # </th>
        <th> 一峰理财计划 </th>
        <th> 截止日期 </th>
        <th> 预期收益率 </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td> 1204 </td>
        <td> 一峰1＃ </td>
        <td> 01/04/2012 </td>
        <td> 100% </td>
    </tr>
    <tr class=“warning”>
        <td> 2323 </td>
        <td> 大满贯 </td>
        <td> 01/04/2012 </td>
        <td> 2.3% </td>
    </tr>
    <tr class="success">
        <td> 6634 </td>
        <td> 马年吉祥 </td>
        <td> 02/04/2012 </td>
        <td> 5.56% </td>
    </tr>
    <tr class="warning">
        <td> 0482 </td>
        <td> 一峰5＃ </td>
        <td> 03/04/2012 </td>
        <td> 12.5% </td>
    </tr>
    <tr class="danger">
        <td> 4461 </td>
        <td> Money！！ </td>
        <td> 04/04/2012 </td>
        <td> 360% </td>
    </tr>
    </tbody>
</table>
<button type="button" class="btn btn-sm btn-block">立即认购</button>
<div class="tabbable" id="tabs-703926">
    <ul class="nav nav-tabs">
        <li class="active"> <a href="#panel-794316" data-toggle="tab">交易进行时</a> </li>
        <li> <a href="#panel-377496" data-toggle="tab">在线视频</a> </li>
        <li> <a href="#panel-277497" data-toggle="tab">一峰报告</a> </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="panel-794316"> <br/>
            浏览看最新文章 </div>
        <div class="tab-pane" id="panel-377496"> <br/>
            第一财经每周定时播出 </div>
    </div>
</div>
<div class="media well"> <a href="#" class="pull-left"><img src="/images/news.png" class="media-object" alt=""></a>
    <div class="media-body">
        <h4 class="media-heading"> <strong>中央经济工作会议定调经济走向</strong> </h4>
        <span>中央经济工作会议今日在北京开幕，这次会议将分析国际国内经济形势，总结</span><span><span>2013</span></span><span>年经济工作，提出</span><span><span>2014</span></span><span>年经济工作总体要求和主要任务。</span><br>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"> <strong>关注电解镍上行机会</strong> </h4>
                <span>今日关注电解镍行情，基本金属经历了前期的大幅抛售行情后，近期走势相对有所企稳之意......</span> </div>
        </div>
    </div>
</div>